body {
    background: #eeefed;
    position: relative;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
   /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    outline: none;
}


/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* btn-1 */

.btn-1 {
font-weight: 700;
background: linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 35px;
  padding: 0;
  border: none;
}

.btn-1:hover {
    background: linear-gradient(0deg, rgba(255,61,165,1) 0%, rgba(255,0,0,1) 100%);
    background: rgb(200,16,46,);
}

.btn-2 {
    font-weight: 700;
    background: rgb(52, 49, 221);
    border: none;
    z-index: 1;
  }

  .btn-2:after {
    position: absolute;
    content:"";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #1984ef;
    background-image: linear-gradient(315deg, #10e4d2 0%, #0d4da8 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     10px 10px 30px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     transition: all 0.3s ease;
  }

  .btn-2:hover {
    color: #000;
  }
  .btn-2:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-2:active {
    top: 2px;
  }

  .btn-3 {
    background: rgb(148, 7, 187);
    background: linear-gradient(0deg, rgb(102, 3, 133) 0%, rgb(81, 11, 142) 100%);
    border: none;
  }

  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-3:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -6px -6px 5px 0 rgba(255,255,255,.2),
      inset 5px 5px 3px 0 rgba(0, 0, 0, .4);
  }
  
  


